:root{
    --main_color:#c9f31d;
    --p_color:#8a8a8a;
    --bg_color:#1f1f1f;
    --white_color:#fff;
    --black_color:#070707;
    --border_color:rgba(255,2555,255,0.1);
}
.foot{
  width: 80%;
  margin: auto;
  
}
.heart{
  color: #c9f31d;
  animation-name: aa;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes aa {
  from{
    transform: scale(0);
    
  }
  to{
    transform: scale(1);
  }
  
}

.footer1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  padding: 50px 10px;


}
.footer1 input{
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--main_color) !important;
}
.ff1{
  display: flex;
  gap:10px
}
.footer1 button{
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--main_color);
  color: #fff;
}

.logof{
  display: flex;
  align-items: center;
  gap:5px
}

.footer1 button{
  cursor: pointer;
  transition: 1s;
    box-shadow: 0 0 15px rgba(201, 243, 29, 0.5);
}
.footer1 button:hover{
  background-color: #c9f31d;
  color: #070707;


}

.footer2{
  display: flex;
  gap: 2%;
  padding: 20px 10px;
}
.footer2 p{
  color: #8a8a8a;
}
.footer2 div{
  width: 32%;
}
.footer2 .f2 {

display: flex;
flex-direction: column;
gap: 20px;
}

.footer2 .ff2 ul{
list-style-type: none;
display: flex;
flex-direction: column;
gap: 10px;
}
.footer2 .ff2 ul li a:hover{
color: #c9f31d;
}
.footer2 .fff2 ul{
list-style-type: none;
display: flex;
flex-direction: column;
gap: 10px;
}
.footer2 ul li a{
text-decoration: none;
color: var(--p_color);
}
.footer2 ul li {

color: var(--p_color);
}
.footer2 .ff2 h2{
  margin-bottom: 20px;
}
.footer2 .fff2 h2{
  margin-bottom: 20px;
}
.footer2{
  letter-spacing: 1px;
}

.footer3{
  background-color: #1f1f1f;
  padding: 20px;
  text-align: center;
}



@media (max-Width: 768px){
.f1{
  width: 100%;
}

.footer1{
  flex-wrap: wrap;
  gap:20px
}
.footer2{
  flex-wrap: wrap;
  gap:30px
}
.footer2 div{
  width: 100%;
}

}