
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playpen+Sans:wght@100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --main_color:#c9f31d;
    --p_color:#8a8a8a;
    --bg_color:#1f1f1f;
    --white_color:#fff;
    --black_color:#070707;
    --border_color:rgba(255,2555,255,0.1);
}

.projects{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap:2%;
  background-color: #252525;

}
.projects button.active{
    color: var(--black_color);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #c9f31d;
  border-radius: 20px;

}

.projects p{
  font-size: 14px;
}
.img .btn-image{
  cursor: pointer;
}
.projects .img{
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.projects .img img{
  width: 100%;
}
.img .btn-image2{
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
  letter-spacing: 1px;
}
.img:hover .btn-image2{
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.img img{
  transform: scale(1);
  transition: 1s ease;
}
.img:hover img{
  transform: scale(1.02);
}
.projects h5{
    font-family: "Roboto", sans-serif;

}
.projects .par1{
  color: var(--p_color);
}
 .all{
  padding: 5px;
  background-color: transparent;
  border-radius: 20px;
  width: 300px;
  margin: auto;
  position: relative;
  border: 1px solid var(--main_color);
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn{
  color: var(--white_color);
  cursor: pointer;
  background-color: transparent;
padding: 10px 5px;
font-size: 17px;
}
.btnn::after{
  content: ' |';
  position: absolute;
  margin-left: 15px;
  color: #c9f31d;
  font-size: 15px;
  font-weight: bold;
}
/* .btn:focus{
  color: var(--black_color);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #c9f31d;
  border-radius: 20px;
} */

.parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;


}
.item{
  width: 32%;
    border:1px solid #8a8a8a;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #677250;
      box-shadow: 0 0 10px #60615f;
}
.item .img{
  width: 100%;
}
.img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.item h2{
text-align: left;
  font-size: 20px;
  background: linear-gradient(90deg, #ffffff, #c9f31d);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


  /* letter-spacing: 1px; */
  /* font-size: 23px; */
}
.item p{
  color: #8a8a8a;
  letter-spacing: 1px;
  text-align: left;

}
.content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item .allbtn{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  

}
.allbtn button{
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--main_color);
  color: #fff;

}


@media (max-width: 768px) {

.item{
  width: 100%;
  
}
.web,.port{
  flex-wrap: wrap;
}
.it1{
  width: 100%;
}
.it2{
  width: 100%;
}

}
